.header {
  background-image: url(../../../assets/home/easy_way/background.png);
  width: 100%;
  background-size: cover;
  height: 100%;
  padding-top: 80px;
}

.header_title {
  font-family: Poppins, sans-serif;
  font-size: 56px;
  line-height: 64px;
  width: 879px;
  margin: 0 auto;
  text-align: center;
  color: #231c00;
}

.header_sport_wrapper {
  width: 70%;
  margin: 0 auto;
}
.header_lenta_wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 25px;
  margin-top: -100px;
}

.header_sport {
  display: flex;
  justify-content: space-between;
  background-image: url(./../../../assets/home/easy_way/boyBg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 90%;
  border-radius: 30px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header_sport img {
  width: 40%;
  height: 660px;
  object-fit: contain;
  z-index: 10;
  position: absolute;
  top: 5%;
  right: -14%;

}

.header__text {
  width: 60%;
  margin-top:4rem;
  font-family: var(--main-font-family);
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  color: var(--main-font-color);
  width: 80%;
}
.header__text p {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #20082d;
  width: 80%;
}
.header_sport_wrapper {
  position: relative;
}
@media(min-width:0) and (max-width:750.9px){
  .header {
    padding: 40px 0.5rem 0 0.5rem ;
  }
  .header_title {
    font-size: 34px;
    width: 100%;
  }
  .header__text {
    width: 100%;
    margin-top:10rem;
    font-family: var(--main-font-family);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_sport_wrapper {
    width: 100%;
    margin: 0 auto;
    border: 2px solid red;
  }
  .Boy{
    border: 2px solid blue;
  }
  .header_sport img {
    width: 50%;
    height: 660px;
    margin: 0 auto;
    object-fit: contain;
    z-index: 0;
    position: absolute;
    top: -30%;
    right:0;
  
  }
}
/* .header_lenta {
  position: absolute;
  bottom: -22%;
  left: 19%;
  z-index: 2;
} */
/* @media (max-width: 2000px) {
}
@media (max-width: 1400px) {
  .header__text {
    padding-left: 20px;
  }
}
@media (max-width: 1200px) {
  .header_sport img {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 100px;
  }
  .header_lenta_wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: -100px;
  }

  .header_sport {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header_title {
    font-size: 50px;
    line-height: 64px;
    padding-top: 66px;
    padding-bottom: 57px;
  }
  .header__text p {
    width: 100%;
  }
  .header__text h1 {
    width: 100%;
    margin-bottom: 16px;
  }
  .header__text {
    padding-bottom: 84px;
    padding-left: 20px;
  }
  .header_title {
    font-size: 40px;
  }
} */
/*
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
} */
