.body {
  width: 60%;
  margin: 8rem auto;
}

.body__title,
.body__text{
  font-family: var(----main-font-family);
  font-style: normal;
  color: #4c3c00;
  text-align: center;
}

.body__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  text-align: center;

  color: #4c3c00;
}

.body__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.body__img_and_inp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.body__img_and_inp__inp{
  width: 60%;
}

.body__img_and_inp__img{
  width: 30%;
}

