.TopHeader_Top_Header__oWkvX {
  background-color: white;
}
.header_wrapper {
  background-image: url(./../../assets/about_us/aboutUSBG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header {
  padding-top: 300px;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 180px 50px;
}
.second {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 220px;
  padding: 0 180px 50px;
}
.manWrapper {
  width: 48%;
  background-image: url(./../../assets/about_us/desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  text-align: center;
  object-fit: cover;
}
.girlWrapper {
  background-image: url(./../../assets/about_us/desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 45%;
  text-align: center;
  object-fit: cover;
  background-size: 100% 100%;
  height: 100%;
}
.manWrapper img {
  margin-top: -20%;
  height: 111%;
}

.girlWrapper img {
  margin-top: -20%;
  height: 111%;
}
.first_content {
  width: 48%;
  /* margin-left: 3rem; */
}
.second_content {
  width: 48%;
  margin-right: 25px;
  padding-bottom: 100px;
}

.first_content h2 {
  font-size: 56px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 64px;
  color: #231c00;
}

.first_content p,
.second_content p {
  font-weight: 500;
  font-size: 16pt;
  line-height: 36px;
  color: #47454a;
}

.second_content p {
  width: 80%;
  text-align: left;
  /* padding-bottom: 100px; */
}

@media (min-width: 500px) and (max-width: 650.9px) {
  .manWrapper {
    width: 100% !important;
  }
  .girlWrapper {
    width: 100% !important;
  }
}
@media (min-width: 500px) and (max-width: 1199.9px) {
  .first_content h2 {
    margin-top: 2rem;
    font-size: 50px;
  }
}
@media (min-width: 0) and (max-width: 499.9px) {
  .header {
    margin-top: 1rem;
    padding-top: 165px;
  }
  .first_content h2 {
    font-size: 28px;
  }
  .first_content p,
  .second_content p {
    line-height: 30px;
    color: #47454a;
  }
  .second {
    margin-top: 120px;
  }
  .manWrapper img {
    margin-top: -67px;
    height: 320px;
    object-fit: contain;
  }
  .girlWrapper img {
    margin-top: -80px;
    height: 320px;
    object-fit: contain;
  }
}

@media (min-width: 0) and (max-width: 768.9px) {
  .first_content h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
  }
  .first_content p,
  .second_content p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 0) and (max-width: 1199.9px) {
  .first {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0;
  }
  .second {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 150px;
    padding: 0 20px 0;
  }

  .manWrapper {
    margin: 0 auto;
    width: 70%;
  }
  .girlWrapper {
    width: 70%;
    margin: 0 auto;
  }

  .second_content {
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .first_content {
    width: 85%;
    margin: 0 auto;
  }
  .second_content p {
    width: 100%;
    text-align: center;
  }
  .first_content p,
  .first_content h2 {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1200px) and (max-width: 1293px) {
  .second,
  .first {
    padding: 0 30px 50px;
  }
}
