.header {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__img {
  width: 40%;
}

.header__img img {
  width: 100%;
  object-fit: cover;
}
/* .header__img video {
  width: 90%;
  -webkit-mask-image: url(data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 224 208' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M223.545 36.526c0 6.117-4.746 11.877-13.117 16.918 8.371 5.041 13.117 10.801 13.117 16.918 0 6.118-4.747 11.879-13.119 16.92 8.372 5.042 13.119 10.803 13.119 16.92 0 6.117-4.746 11.877-13.117 16.919 8.371 5.041 13.117 10.801 13.117 16.918 0 6.117-4.746 11.878-13.118 16.919 8.372 5.042 13.118 10.802 13.118 16.92 0 19.838-49.92 35.92-111.5 35.92S.545 191.716.545 171.878c0-6.118 4.747-11.878 13.12-16.92-8.373-5.041-13.12-10.802-13.12-16.919 0-6.117 4.747-11.877 13.117-16.918C5.293 116.079.545 110.319.545 104.202c0-6.117 4.748-11.878 13.12-16.92C5.293 82.241.545 76.48.545 70.362c0-6.117 4.747-11.876 13.117-16.918C5.293 48.403.545 42.643.545 36.526c0-19.839 49.92-35.92 111.5-35.92s111.5 16.081 111.5 35.92z' fill='%23fff'/%3E%3C/svg%3E);
  object-fit: cover;
} */
.header__text_block {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__text_block__title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 80px;
  color: #0B1C04;
  margin-bottom: 0;
}

.header__text_block__title strong {
  color: #55963B;
}

.header__text_block__text {
  width: 80%;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #0B1C05;
  margin-top: 30px;
}

.header__text_block__btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}


.endText {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0B1C05;
  margin-top: 60px;
  margin-left: 80px;
  width: 60%;
}


@media (min-width: 0) and (max-width: 620.9px) {
  .header__text_block__btn{
    flex-direction: column;
  }
  .container{
    margin: 10px 0;
    width: 85%;
  }
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .header {
    width: 100%;
    margin: 3rem auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .header{
    flex-direction: column;
    align-items: center;
  }

  .header__text_block__title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: .5rem;
  }

  .header__text_block{
    width: 90%;
  }

  .header__text_block__text{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
  }


  .endText{
    width: 70%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 1rem 0 ;
  }
}
@media (min-width: 0) and (max-width: 620.9px) {
  .header__text_block__btn{
    width: 100%;
    margin-top: 1rem;
  }
}

@media (min-width: 621px) and (max-width: 1200.9px) {
  .header__text_block__btn{
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}

@media (min-width: 1201px) and (max-width: 1800.9px) {

 .header__text_block__btn{
   width: 80%;
 } 

 .header__text_block{
   width: 55%;
 }

 .header__text_block__title{
   font-size: 60px;
   line-height: 70px;
 }

 .endText{
   width: 100%;
 }
}