.header {
  width: 80%;
  margin: 5rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__img {
  width: 40%;
}

.header__img img {
  width: 100%;
  object-fit: cover;
}

.header__text_block {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__text_block__title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 80px;
  color: #55e027;
  margin-bottom: 0;
}

.header__text_block__title strong {
  color: #9f27e0;
}

.header__text_block__text {
  width: 80%;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #c57dec;
  margin-top: 8px;
}

.header__text_block__btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.header__text_block__btn button {
  width: 148px;
  height: 52px;
  border-radius: 10px;
  background-color: #9f27e0;
  border: none;
  outline: none;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.header__text_block__btn button:first-child {
  background-color: #55e027;
}

.header__text_block__btn button:hover {
  border: 2px solid #9f27e0;
  color: #9f27e0;
  background-color: transparent;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  width: 45%;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  width: 100%;
  text-align: center;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid #55e027;
  box-shadow: 0px 0px 0px 1px #55e027 inset;
  background-color: #55e027;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.container2 .effect01 {
  border: 4px solid #9f27e0;
  box-shadow: 0px 0px 0px 1px #9f27e0 inset;
  background-color: #9f27e0;
}

.effect01:hover {
  border: 4px solid #55e027;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #55e027 inset;
}

.container2 .effect01:hover {
  border: 4px solid #9f27e0;
  box-shadow: 0px 0px 0px 4px #9f27e0 inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #55e027;
  font-weight: 600;
}

.container2 .effect01:hover span {
  color: #9f27e0;
}

/*highlight*/
.effect01:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 10px solid #55e027;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.container2 .effect01::after {
  border: 0px solid #9f27e0;
}

.container2 .effect01:hover:after {
  border: 10px solid #9f27e0;
}

.endText {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #c57dec;
  margin-top: 60px;
  margin-left: 80px;
  width: 60%;
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .header{
    flex-direction: column;
    align-items: center;
  }

  .header__text_block__title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: .5rem;
  }

  .header__text_block{
    width: 65%;
  }

  .header__text_block__text{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .header__text_block__btn{
    width: 100%;
    margin-top: 1rem;
  }
  .container{
    width: 45%;
    padding: 0;
  }
  .btn{
    width: 100%;
    font-size: 80%;
  }

  .endText{
    width: 65%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 2rem 0 ;
  }
}

@media (min-width: 1201px) and (max-width: 1800.9px) {
 .header__text_block__btn{
   width: 70%;
 } 

 .container{
   width: 45%;
 }

 .effect01{
   width: 100%;
 }

 .header__text_block{
   width: 55%;
 }

 .header__text_block__title{
   font-size: 60px;
   line-height: 70px;
 }

 .endText{
   width: 100%;
 }
}