.header {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__img {
  width: 40%;
}

.header__img img {
  width: 100%;
  object-fit: cover;
}

.header__text_block {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__text_block__title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 80px;
  color: #55e027;
  margin-bottom: 0;
}

.header__text_block__title strong {
  color: #9f27e0;
}

.header__text_block__text {
  width: 80%;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #c57dec;
  margin-top: 8px;
}

.header__text_block__btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.container {
  width: 50%;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 30px 5px;
  font-size: 16px;
  font-weight: 600;
  color: #ecf0f1;
  transition: 0.5s;
}
.container {
  background-color: #e74c3c;
}
.containerr:before {
  position: absolute;
  content: "";
  border-top: 5px solid #ea6153;
  border-left: 5px solid #ea6153;
  border-right: 5px solid #e43725;
  border-bottom: 5px solid #e43725;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 0.5s;
}
.container:hover {
  box-shadow: 7px 7px #a82315, -7px -7px #f29f97;
  cursor: pointer;
}
.container:hover::before {
  border: 0px;
}

.endText {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #c57dec;
  margin-top: 60px;
  margin-left: 80px;
  width: 60%;
}


@media (min-width: 0) and (max-width: 620.9px) {
  .header__text_block__btn{
    flex-direction: column;
  }
  .container{
    margin: 10px 0;
    width: 85%;
  }
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .header{
    flex-direction: column;
    align-items: center;
  }

  .header__text_block__title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: .5rem;
  }

  .header__text_block{
    width: 65%;
  }

  .header__text_block__text{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .header__text_block__btn{
    width: 100%;
    margin-top: 1rem;
  }

  .container{
    font-size: 12px;
  }

  .endText{
    width: 65%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 2rem 0 ;
  }
}

@media (min-width: 1201px) and (max-width: 1800.9px) {
 .header__text_block__btn{
   width: 70%;
 } 

 .header__text_block{
   width: 55%;
 }

 .header__text_block__title{
   font-size: 60px;
   line-height: 70px;
 }

 .container{
   font-size: 14px;
 }

 .endText{
   width: 100%;
 }
}