.Reference {
  padding: 240px 175px 20px 175px;
  background: rgba(247, 231, 200, 0.3);
  height: 100vh;
}

.Reference h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  text-align: center;

  color: #4c3c00;
}

.login_form {
  width: 472px;
  text-align: center;
  margin: 0 auto;
}

.login_form button {
  width: 372px;
  height: 50px;
  border: none;
  margin-top: 70px;
  background: linear-gradient(265.62deg, #e6bf4c -14.74%, #bc9520 154.51%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins";
}

.Input {
  background: #ffffff;
  width: 224px;
  height: 42px;
  margin: 0 auto;
  border: 2px solid #c5c3ca;
  border-radius: 10px;
  margin-top: 40px;
}

.Input input {
  width: 224px;
  height: 42px;
  border-radius: 10px;
}
@media (min-width: 0) and (max-width: 900.9px) {
  .Reference {
    padding: 100px 20px 20px 20px;
    height: auto;
  }
  .Reference h1 {
    font-size: 27px;
    margin: 0 auto;
  }
  .login_form button {
    margin-top: 30px;
    width: 300px;
  }

  .Input,
  .login_form,
  .Reference h1{
    max-width: 300px;
  }

  .login_form .Input:first-child{
    margin-top: 30px;
  }
}
