.wrapper {
    background-color: white;
    padding: 140px 175px 0 175px;
}

.Login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 114% */

    text-align: center;

    color: #231C00;
}

.wrapper input {
    width: 472px;
    height: 42px;
    border-radius: 10px;
}

.button {
    width: 100%;
    text-align: center;
}

.Title1 {
    margin: 19px 0;
}

.Title1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0 12px 0 0;
    line-height: 30px;
    color: #231C00;
}

.Title1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    width: 351px;
    color: #231C00;
}

.Title1 {
    display: flex;
    flex-wrap: wrap;
}

.wrapper textarea {
    width: 1068px;
    height: 116px !important;
    border-radius: 10px;
    margin-top: 40px;
}
.wrapper button{
    width: 472px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
line-height: 24px;
}
.login_form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}