.HomeHeader {
    background-repeat: no-repeat;
    background-image: url("../../../assets/home/header/Glavniy.webp");
    background-size: 100%;
    width: 100%;
    padding: 110px 155px ;
}

.Block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Block__Title {
    width: 50%;
}

.Block__Title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 90px;
    width: 734px;
    color: #4D3C00;
}

.Block__Title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4C3C00;
}

.SignUp {
    filter: drop-shadow(0px 4px 4px #F7E7C8);
    background: linear-gradient(265.62deg, #E6BF4C -14.74%, #BC9520 154.51%);
    border-radius: 10px;
    width: 173px;
    border: none;
    margin-top: 58px;
    outline: none;
    height: 52px;
}

.SignUp a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.SignUp a:hover {
    color: #FFFFFF;
}

@media(min-width:0) and (max-width:800.9px) {
    .HomeHeader {
        padding: 110px 25px 3rem;
        height: auto;
        background-size: auto;
        background-size: cover;

    }
    .Block__Title {
        width: 100%;
        text-align: center;
    }
    .Block {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .Block img {
        width: 100%;
        height: auto;
    }
    .Block__Title h1 {
        font-size: 23px;
        line-height: 40px;
        width: 100%;
        margin-top: 50px;
    }
    .SignUp {
        margin-top: 30px;
    }
    .Block__Title p{
        font-size: 16px;
        line-height: 20px;
    }
}
@media(min-width:801px) and (max-width:1200.9px){
    .HomeHeader {
        padding: 110px 30px 0;
        height: auto;
    }
    .Block img {
        width: 40%;
        height: auto;

    }
    .Block__Title {
        width: 60%;
    }

    .Block {
    justify-content: space-between;
    }
    .Block__Title h1 {
        font-size: 55px;
        width: 100%;
    }
}
@media(min-width:1201px) and (max-width:1480.9px){
    .HomeHeader {
        padding: 110px 30px 0;
    }
    .Block img {
        width: 50%;
        height: auto;

    }
    .Block__Title {
        width:50%;
    }
}