.Footer {
  display: flex;
  padding: 3rem 230px 0 230px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.Block1 {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.Block1 img {
  margin-bottom: 14px;
}

.Block1 a {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0.3rem 0;
  color: #0d0a00;
  transition: all 0.4s !important;
}

.Block1 a:hover {
  color: #ffa700;
  margin-left: 4px;
}

.Block1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-top: 14px;
  font-size: 24px;
  line-height: 36px;
  color: #0d0a00;
}

.Block2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
}

.Block2 a {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0px 0 19px 2rem;
  line-height: 24px;
  color: #4c3c00;
  transition: all 0.4s !important;
}

.Block2 a:hover {
  color: hsl(39, 100%, 50%);
  margin-left: 0.8rem;
}

.Block3 {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Block3 a{
    margin: 0 33px 30px 0;
}
.Block3 a {
    margin: 0 33px 30px 0;
  }
.Block3 a img {
  width: 45px;
  height: auto;

}

.Block3 a:last-child img {
  width: 200px;
}

.facebook_icon {
  transition: all 0.5s !important;
}

.telegram_icon{
    width: 70px;
}

.telegram_icon:hover {
  margin-top: -2px;
  margin-left: 2px;
}

.facebook_icon:hover {
  transform: rotate(360deg);
}

.instagram_icon {
  transition: all 0.5s !important;
}

.instagram_icon:hover {
  transform: rotate(-360deg);
}

.chiziq {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.Wrapper {
  background-color: white;
  width: 100% !important;
}

.Title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0d0a00;
  margin-top: 22px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

@media (min-width: 0) and (max-width: 600.9px) {
  .Block3 {
    align-items: center;
  }
  .Footer {
    padding: 2rem 25px 0;
    width: 100%;
    justify-content: center;
  }
  .Block2 a {
    text-align: center;
  }
  .Block1 p {
    margin: 0.5rem auto;
  }
  .Block1 img {
    margin: 0 auto 1rem;
  }
  .Block1 a {
    text-align: center;
  }
  .Block2,
  .Block1,
  .Block3 {
    width: 90%;
    margin: 0.5rem 0;
  }

  .Block3 {
    margin: 1.5rem 0 0;
  }

  .Block2 {
    justify-content: flex-start;
  }

  .Block3 a {
    margin: 0 16px 30px 0;
  }

  .Block2 a {
    margin: 5px 0;
  }

  .Block3 a:last-child {
    margin-bottom: 1rem;
  }

  .Title {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: 601px) and (max-width: 800.9px) {
  .Footer {
    padding: 2rem 32px;
    width: 100%;
    justify-content: space-between;
  }
  .Block1 p {
    margin: 0 auto;
  }
  .Block2,
  .Block1,
  .Block3 {
    width: 50%;
    margin: 1rem 0;
    text-align: center;
  }
  .Block1 img {
    margin: 14px auto;
  }
  .Block2 {
    justify-content: flex-end;
  }

  .Block3 {
    margin: 1.5rem 0;
    width: 100%;
  }

  .Block2 {
    justify-content: flex-start;
  }

  .Block3 a {
    margin: 0 16px 30px 0;
  }

  .Block2 a {
    margin: 0.5rem 0;
  }
}

@media (min-width: 801px) and (max-width: 1300.9px) {
  .Footer {
    padding: 2rem 32px;
    width: 100%;
    justify-content: space-between;
  }
}
