.header_detail_parent {
  width: 100%;
}
.header_detail {
  padding-top: 47px;
  margin: 0 auto;
}
.container {
  max-width: 968px;
  margin: 0 auto;
}

.header_detail_main img {
  width: 100%;
}

.header_detail_main h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  color: #9f27e0;
  margin-left: 40px;
  margin-bottom: 21px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_detail_main p,
.header_detail_main ul,
.header_detail_main li {
  font-size: 16px;
  line-height: 24px;
  color: #20082d;
  margin-left: 40px;
  font-weight: 400;
}

.header_detail_main:not(:first-child) {
  margin-top: 72px;
}
.header_detail_text_first {
  padding-top: 34px;
}

.header_detail_main_third {
  padding-bottom: 138px;
}

@media (max-width: 1200px) {
  .header_detail_main h2 {
    font-size: 20px;
    line-height: 25px;
    margin: 30px 0 30px 10px;
    text-align: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }
  

  .header_detail {
    padding-top: 15px;
  }
  .header_detail_text_first {
    padding-top: 20px;
  }

  .header_detail_main_third {
    padding-bottom: 20px;
  }
  .header_detail_main:not(:first-child) {
    margin-top: 15px;
  }
  .header_detail_main p,
  .header_detail_main ul,
  .header_detail_main li {
    margin-left: 10px;
  }
}
