* {
  padding: 0;
}
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  background: #ffffff1a;
  backdrop-filter: blur(6px);
}

.active {
  color: #9f27e0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 39px;
  color: #9f27e0;
  width: 100%;
  font-family: var(----main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 39px;
}

.active:hover {
  color: #9f27e0;
}

.Navlink {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #29292c;
  line-height: 39px;
  width: 100%;
  font-family: var(----main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #29292c;
  line-height: 39px;
}

.Navlink:hover {
  color: #29292c;
}
.ant-drawer-wrapper-body {
  width: 500px !important;
}
@media (min-width: 0) and (max-width: 600.9px) {
  .ant-drawer-wrapper-body {
    width: auto !important;
  }
}
.active {
  color: #ffa700;
  text-align: center;
  width: 20%;
  font-family: var(----main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.active:hover {
  color: #ffa700;
}

.active,
.Navlink {
  margin: 0 26px 0 0;
}

.Navlink {
  width: 20%;
  text-align: center;
  font-family: var(----main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #4c3c00;
  line-height: 24px;
}

.Navlink:hover {
  color: #4c3c00;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  width: auto !important;
}

@media (min-width: 0) and (max-width: 1100.9px) {
  .ant-drawer-wrapper-body {
    width: 90% !important;
  }

  .Navlink,
  .active {
    width: 90% !important;
    margin: 1rem 0;
  }
}
