:root {
  --main-font-family: "Arial";
  /* --main-font- */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f6 !important;
}

.container {
  width: 50%;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 30px 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(115, 114, 114);
  transition: 0.3s all linear;
  border: 2px solid rgb(115, 114, 114);
  filter: drop-shadow(0px 24px 54px rgba(65, 34, 117, 0.3));
  border-radius: 10px;
}

.container {
  background-color: transparent;
}
.Header_header__text_block__btn__F7n8R .container:first-child {
  background-color: #55963b;
  color: #fff;
  border: none;
}

.container:hover {
  box-shadow: 7px 7px rgb(96, 96, 96), -7px -7px #ccc;
  cursor: pointer;
  color: rgb(115, 114, 114);
  border: 2px solid transparent;
  border-radius: 0
}

.Header_header__text_block__btn__F7n8R .container:first-child:hover {
  box-shadow: 7px 7px #2f591e, -7px -7px #a2d38e;
}

.container:hover::before {
  border: 0px;
}

.ant-back-top div:first-child{
  background-color: #55963B !important;
  border-radius: 50% !important;
}
.eWjCzc:hover:enabled, .eWjCzc:focus:enabled{
  background-color: #55963B !important;
}

.krmNah{

}

@media (min-width: 0) and (max-width: 620.9px) {
  .container {
    font-size: 12px;
    width: 60%;

    margin: 5px 0;
  }
  .eWjCzc,
  .eAyARa {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    line-height: 30px !important;
    font-size: 1em !important;
  }

  .eLPooy {
    width: 90% !important;
  }
}

@media (min-width: 621px) and (max-width: 1200.9px) {
  .container {
    font-size: 12px;
    width: 38%;

    margin: 5px 0;
  }
}

@media (min-width: 1201px) and (max-width: 1800.9px) {
  .container {
    width: 45%;
    font-size: 14px;
  }
}
