.carousel {
  background-color: #f5f5f6;
  padding: 8rem 8%;
  background-image: url("../../../assets/home/carousel/background.png");
  background-size: cover;
  padding-top: 20rem;
}

.item {
  display: flex;
  justify-content: space-evenly;
  background-image: url("../../../assets/home/carousel/bg.png")
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 90%;
  border-radius: 30px;
  width: 70%;
  height: 600px;
  border-width: 80%;
}

.item img {
  width: auto;
  height: 600px;
  position: absolute;
  top: 0;
  left: 10rem;
  z-index: 10;
}

.item__text {
  width: 68%;
  margin-top: 7rem;
  font-family: var(--main-font-family);
  margin-left: auto;
}

.item__text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;

  color: var(--main-font-color);
  width: 80%;
}

.item__text p {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;

  color: #20082d;
  width: 80%;

}

.btn_body {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .item {
    flex-direction: column;
    width: 100%;
  }
  .carousel {
    background-color: #fcf5ff;
    padding: 3rem 2%;
  }
  .item img {
    width: 100%;
  }
  .item__text {
    width: 100%;
  }
  .item__text h1 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .item__text p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .btn_body {
    text-align: center;
    width: 50%;
    margin: 1rem auto;
  }
}
