.carousel {
  background-color: #F5F5F6;
  padding: 8rem 8%;
}

.item {
  display: flex;
  justify-content: space-evenly;
}

.item img {
  width: 50%;
}

.item__text {
  width: 38%;
}

.item__text h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;

  color: #0B1C04;
}

.item__text p {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #20082d;
}

.btn_body {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

@media (min-width: 0) and (max-width: 1200.9px) {
  .item {
    flex-direction: column;
    width: 100%;
  }
  .carousel {
    background-color: #fcf5ff;
    padding: 3rem 2%;
  }
  .item img {
    width: 100%;
  }
  .item__text {
    width: 100%;
  }
  .item__text h1 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .item__text p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  
  .btn_body {
    text-align: center;
    width: 50%;
    margin: 1rem auto;
  }
}
