.Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    padding: 0 160px;
}
.select select {
    width: 62px;
    height: 28px;
    left: 1230px;
    top: 46px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}