.select select {
  width: 62px;
  height: 28px;
  border: none;
  outline: none;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Drawer {
  display: flex;
  align-items: center;
}

.NavbarIcon {
  cursor: pointer;
  margin-left: 10px;
}

.Drawer_Block {
  display: none;
}

@media (min-width: 0) and (max-width: 1100.9px) {
  .Navlink {
    display: none;
  }

  .Block_Navlink {
    width: auto !important;
  }

  .Top_Header {
    /* height: 100vh; */
    position: absolute;
    padding: 24px 26px 0 20px;
    width: 100%;
  }

  .Block {
    justify-content: space-between;
    width: 100%;
  }

  .Menu__link {
    width: auto;
    justify-content: flex-end;
  }

  .Drawer_Block {
    display: block;
  }

  .Drawer_Block img {
    cursor: pointer;
  }

  .Drawer_Block_Navlink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 2rem 0 0 4rem; */
    width: 100%;
  }

  .Menu__link select {
    margin-right: 14px;
  }

  .Navlink_href {
    width: 128px;
    height: 50px;
    margin-top: 2rem;
    background-color: #ffa700;
  }
}

@media (min-width: 1100.9px) and (max-width: 1400.9px) {
  .Top_Header {
    /* height: 100vh; */
    position: absolute;
    padding: 50px 15px 0 15px;
    width: 100%;
  }

  .Block_Navlink {
    width: auto;
  }
  .Menu__link {
    width: 75%;
    justify-content: space-between;
  }
}
